// compress: true

@images: "../image";
@background: #333;
@content: #666;
@accent: #ddd;
@text: firebrick;

* {
	box-sizing: border-box;
}

body {
	font-family: Comfortaa;
	margin: 0;
	min-height: 100vh;
}

header {
	background-image: url("@{images}/genessa-panainte-179123-unsplash.jpg");
	background-position: bottom;
	background-attachment: fixed;
	background-size: cover;
	font-size: 30px;
	text-align: center;

	#credit-badge {
		text-align: right;

		a {
			background-color: black;
			color: white;
			text-decoration: none;
			padding: 4px 6px;
			font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
			font-size: 12px;
			font-weight: bold;
			line-height: 1.2;
			border-radius: 3px;
		}
	}

	#title-container {
		color: @text;

		h1 {
			padding-top: 80px;
			text-shadow:
				-1px -1px 0 #fff,
				1px -1px 0 #fff,
				-1px 1px 0 #fff,
				1px 1px 0 #fff;
		}

		p {
			padding-bottom: 100px;
			margin-bottom: 0;
			text-shadow:
				-1px -1px 0 #fff,
				1px -1px 0 #fff,
				-1px 1px 0 #fff,
				1px 1px 0 #fff;
		}
	}
}

nav {
	overflow: hidden;
	background-color: @background;
	position: sticky;
	position: -webkit-sticky;
	top: 0;

	button {
		float: left;
		display: block;
		color: white;
		text-align: center;
		padding: 14px 20px;
		text-decoration: none;
		background-color: @content;
		border: none;
	}

	button.right {
		float: right;
	}

	button:hover {
		background-color: @text;
	}

	#filter_field {
		color: white;
		width: 10%;
		min-width: 130px;
		margin-left: 41%;
		box-sizing: border-box;
		border: 2px solid @accent;
		border-radius: 4px;
		background-color: transparent;
		background-position: 10px 10px;
		background-repeat: no-repeat;
		padding: 12px 20px 12px 20px;
		transform: translateY(20%);
		transition: all 0.4s ease-in-out;
	}

	/* When the input field gets focus, change its width to 100% */
	#filter_field:focus {
		width: 30%;
		margin-left: 31%;
	}

	.progress-container {
		width: 100%;
		height: 8px;
		background: #ccc;
		margin-top: 11px;
	}

	/* The progress bar (scroll indicator) */
	.progress-bar {
		height: 8px;
		background: @text;
		width: 0%;
	}
}

.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
	padding-top: 10%;

	/* Add Zoom Animation */
	.animate {
		animation: animatezoom 0.6s;
	}

	@keyframes animatezoom {
		from {
			transform: scale(0)
		}

		to {
			transform: scale(1)
		}
	}

	/* Modal Content/Box */
	.modal-content {
		background-color: #fefefe;
		margin: 5px auto;
		border: 1px solid #888;
		/* Could be more or less, depending on screen size */
		width: 40%;

		h2 {
			margin-left: 16px;
		}

		.container {
			padding: 16px;

			/* Style the input container */
			.input-container {
				display: flex;
				width: 100%;
				margin-bottom: 15px;

				/* Style the input fields */
				.input-field {
					width: 100%;
					padding: 10px;
					outline: none;

					/* Style the form icons */
				}

				.input-field:focus {
					border: 2px solid dodgerblue;
				}

				.icon {
					padding: 10px;
					background: dodgerblue;
					color: white;
					min-width: 50px;
					text-align: center;
				}
			}

			/* Extra styles for the cancel button */
			.cancelbtn {
				background-color: #f44336;
				padding: 10px 18px;
				width: auto;
			}

			button {
				border: none;
				cursor: pointer;
				color: white;
			}

			button:hover {
				opacity: 0.8;
			}

			button[type=submit] {
				background-color: #4CAF50;
			}
		}
	}

	.login-content {
		button {
			margin: 8px 0;
		}

		button[type=submit] {
			padding: 14px 20px;
			width: 100%;
		}

		.forgotten_password {
			margin-top: 16px;
			float: right;
		}
	}

	.subscription-content {
		button {
			padding: 10px;
			background: #2196F3;
			border-left: none;
			/* Prevent double borders */
		}

		ul {
			list-style: none;

			li {
				p {
					display: inline-block;
				}

				button {
					background-color: transparent;
				}

				i {
					color: @text;
				}
			}
		}
	}

	/* Clear floats */
	.subscription-content::after {
		content: "";
		clear: both;
		display: table;
	}

	#message {
		display: none;
		background: #f1f1f1;
		color: #000;
		position: relative;
		padding: 20px;
		margin-top: 10px;
		margin: 5px auto;
		/* 15% from the top and centered */
		border: 1px solid #888;
		width: 40%;

		p {
			padding: 10px 35px;
		}

		/* Add a green text color and a checkmark when the requirements are right */
		.valid {
			color: green;
		}

		.valid:before {
			position: relative;
			left: -35px;
		}

		/* Add a red text color and an "x" icon when the requirements are wrong */
		.invalid {
			color: red;
		}

		.invalid:before {
			position: relative;
			left: -35px;
		}
	}
}

main {
	-ms-flex: 70%;
	/* IE10 */
	flex: 70%;
	background-color: white;
	padding: 20px;
	background-color: @background;
	color: @accent;
	min-height: 470px;

	.loader {
		border: 16px solid @accent;
		/* Light grey */
		border-top: 16px solid @text;
		/* Blue */
		border-radius: 50%;
		width: 120px;
		height: 120px;
		animation: spin 2s linear infinite;
		margin-left: auto;
		margin-right: auto;
		display: none;
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}

	ol {
		width: 80%;
		margin-left: auto;
		margin-right: auto;

		li {
			margin-bottom: 10px;

			.collapsible {
				cursor: pointer;
				padding: 18px;
				width: 100%;
				border: none;
				text-align: left;
				outline: none;
				font-size: 15px;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				color: @text;
			}

			/* fix this */
			.active,
			.collapsible:hover {
				background-color: @accent;
			}

			.collapsible:after {
				content: '\002B';
				color: @accent;
				font-weight: bold;
				float: right;
				margin-left: 5px;
			}

			.active:after {
				content: "\2212";
			}

			.entry_content {
				padding: 0 18px;
				max-height: 0;
				overflow: hidden;
				transition: max-height 0.2s ease-out;
				border-style: solid;
				border-width: medium;
				border-color: @content;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}
		}

		li.consulted {
			list-style-type: disc;

			.collapsible {
				background-color: @background;
				color: @content;
				border-style: solid;
				border-width: medium medium 0 medium;
				border-color: @content;
			}
		}

		li:not(.consulted) {
			list-style-type: circle;

			.collapsible {
				color: @background;
				background-color: @content;
			}
		}
	}

	#content_list_last_login {}

	#content_list_past {}
}

footer {
	padding: 20px 20px 10px 20px;
	background: @accent;

	#top_button {
		display: none;
		/* Hidden by default */
		position: fixed;
		/* Fixed/sticky position */
		bottom: 20px;
		/* Place the button at the bottom of the page */
		right: 30px;
		/* Place the button 30px from the right */
		z-index: 99;
		/* Make sure it does not overlap */
		border: none;
		/* Remove borders */
		outline: none;
		/* Remove outline */
		background-color: @content;
		/* Set a background color */
		color: @text;
		/* Text color */
		cursor: pointer;
		/* Add a mouse pointer on hover */
		padding: 15px;
		/* Some padding */
		border-radius: 10px;
		/* Rounded corners */
		font-size: 18px;
		/* Increase font size */
	}

	#top_button:hover {
		background-color: @accent;
	}

	p {
		text-align: center;
		font-size: 0.7em;
		margin-top: 30px;
		margin-bottom: 5px;

		i {
			color: @text;
		}
	}
}
