body {
	font-family: Comfortaa;
	margin: 0;
}

header {
	background-image: url("../image/genessa-panainte-179123-unsplash.jpg");
	background-position: bottom;
	background-attachment: fixed;
	background-size: cover;
	font-size: 30px;
	text-align: center;
}

#title-container {
	color: firebrick;
}

#title-container h1 {
	padding-top: 80px;
	text-shadow:
		-1px -1px 0 #fff,
		1px -1px 0 #fff,
		-1px 1px 0 #fff,
		1px 1px 0 #fff;
}

#title-container p {
	padding-bottom: 100px;
	margin-bottom: 0;
	text-shadow:
		-1px -1px 0 #fff,
		1px -1px 0 #fff,
		-1px 1px 0 #fff,
		1px 1px 0 #fff;
}

#credit-badge {
	text-align: right;
}

#credit-badge a {
	background-color: black;
	color: white;
	text-decoration: none;
	padding: 4px 6px;
	font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.2;
	border-radius: 3px;
}

nav {
	overflow: hidden;
	background-color: #333;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

nav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}

nav a.right {
	float: right;
}

nav a:hover {
	background-color: #ddd;
	color: black;
}

nav a.active {
	background-color: #666;
	color: white;
}

#filter_field {
	color: white;
	width: 10%;
	min-width: 130px;
	margin-left: 41%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: transparent;
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 20px;
	transform: translateY(20%);
	transition: all 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
#filter_field:focus {
	width: 30%;
	margin-left: 31%;
}

main {
	-ms-flex: 70%;
	/* IE10 */
	flex: 70%;
	background-color: white;
	padding: 20px;
}

footer {
	padding: 20px;
	text-align: center;
	background: #ddd;
}
